<!-- Image and text -->
<nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"><i class="fab fa-cuttlefish"></i>ryptography</a>
        <form class="form-inline my-2 my-lg-0">
{#            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
{#            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>#}
{#            <p class="pt-1">Nurlanov Aibek CSSE-1801</p>#}
        </form>
    </div>
</nav>